{{>navbar}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="height: 100%;">
            <main class="showcase">
                <h1 class="texto">Óptica Lagos</h1>
                <p class="texto">Óptica Lagos S.A. de C.V. es un centro óptico que realiza consultas, exámenes de la
                    vista y lentes adaptados a
                    cada uno de sus clientes. Tiene aproximadamente entre 2 a 4 encargados de registrar y almacenar la
                    información
                    de los pacientes. </p>
            </main>
        </div>
    </div>
</div>

<section class="text">
    <h3>Sobre nosotros...</h3>
    Óptica Lagos te ofrecen los mejores servicios para obtener tus lentes a un precio razonable a un tiempo especifico,
    ademas de contar con instalaciones de calidad y comodas para la obtecion de tu examne visual.
</section>

<script src="/js/scrollreveal/landingpage.js"></script>