{{>navbar}}
<main class="showcase">
    <h1 class="texto">Óptica Lagos</h1>
    <p class="texto">Óptica Lagos S.A. de C.V. es un centro óptico que realiza consultas, exámenes de la
        vista y lentes adaptados a
        cada uno de sus clientes. Tiene aproximadamente entre 2 a 4 encargados de registrar y almacenar la
        información
        de los pacientes. </p>
</main>

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12 mb-5">
            <div id="maps" class="maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3715.7966921428524!2d-101.93576418521505!3d21.35851308582067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bd24abef592ab%3A0x315179bbd1f1a04c!2sAgust%C3%ADn%20Rivera%20106%2C%20Centro%2C%2047400%20Lagos%20de%20Moreno%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1623293524346!5m2!1ses-419!2smx"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    class="maps shadow-lg"></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 my-auto">
            <div class="parrafodos">
                <h2 class="mb-4">Estamos ubicados en:</h2>
                <h5 class="mb-3">Agustín Rivera 106, Centro, 47400 Lagos de Moreno, Jalisco. Número de contacto: (474)
                    7422086.</h5>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script src="/js/scrollreveal/landingpage.js"></script>