{{>sidebar}}

<div id="content">
    {{>navigation}}
    {{>message}}

    <div class="container menu_info mt-5">
        <div class="row">
            <div class="col-md-8 col-xl-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Agregar orden</h3>
                    </div>

                    <div class="card-body">
                        <form action="/admin/orden/add" method="POST">

                            <div class="form-group">
                                <input type="text" name="fk_paciente" placeholder="Paciente" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="derecho" placeholder="Derecho" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="izquierdo" placeholder="Izquierdo" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="addp" placeholder="Addp" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="material" placeholder="Material" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="entrega" placeholder="Entrega" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="precio" placeholder="Precio" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="anticipo" placeholder="Anticipo" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="saldo" placeholder="Saldo" class="form-control" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-oxford btn-block">
                                    Guardar
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>