{{>navbar}}

{{!-- Header --}}
<header id="header">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="imagenuno">
          <img
            src="/img/len3.jpeg"
            style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="parrafouno">
          <h1 class="display-4">Lorem, ipsum dolor.</h1>
          <p class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, minima quo. Voluptatum
            voluptatem adipisci modi pariatur esse suscipit nihil quasi distinctio cum eveniet, vel iure sapiente
            mollitia dolore? Id, beatae? Vero in quidem, numquam id voluptatibus facilis fugiat! Magni, quisquam.</p>
          <a href="#" class="btn btn-outline-secondary btn-lg mt-2 header-btn">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="testimonial">
  <div class="container">
    <h3 class="mb-2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius recusandae numquam animi, optio sint quasi facere
      voluptatibus accusamus hic non maxime, blanditiis libero inventore consequuntur earum quia. Atque, autem labore!
    </h3>
    <p class="h4">
      Francisco Veloz
    </p>
  </div>
</section>

<section id="info-one" class="mb-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="imagendos">
          <img
            src="/img/len6.jpeg"
            alt="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6 my-auto">
        <div class="parrafodos">
          <h2 class="mb-4">Lorem, ipsum dolor.</h2>
          <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore reprehenderit eius nemo tempora, ipsa,
            natus doloremque laboriosam eaque similique voluptas aspernatur et ab debitis fugit, modi maiores aliquid
            quidem fugiat.</p>
          <a href="#" class="btn btn-outline-secondary btn-lg header-btn-dos">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info-dos" style="background: #f1f1f1;">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="titulo">Lorem, ipsum dolor.</h2>
        <p class="parrafos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero in exercitationem quas eos itaque. Recusandae
          molestias nesciunt nihil similique quisquam dolore perspiciatis sint doloribus, veniam, deserunt harum
          incidunt voluptate? Accusantium?</p>
      </div>
      <div class="col-md-6">
        <h2 class="titulodos">Lorem, ipsum dolor.</h2>
        <p class="parrafosdos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero in exercitationem quas eos itaque. Recusandae
          molestias nesciunt nihil similique quisquam dolore perspiciatis sint doloribus, veniam, deserunt harum
          incidunt voluptate? Accusantium?</p>
      </div>
    </div>
  </div>
</section>

<footer id="contact" style="background: url(/img/3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col">
        <form action="card my-4" style="float: right;">
          <div class="card-body">
            <div class="form-group">
              <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Apellidos" class="form-control">
            </div>
            <div class="form-group">
              <textarea rows="10" cols="30" placeholder="Mensaje" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>

<script src="/js/scrollreveal/landingpage.js"></script>