{{>navbar}}

{{!-- Header --}}
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="imagenuno">
          <img src="/img/len3.jpeg" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="parrafouno">
          <h1 class="display-4">Óptica Lagos</h1>
          <p class="mt-5">Óptica Lagos S.A. de C.V. es un centro óptico que realiza consultas, exámenes de la vista y
            lentes adaptados a cada uno de sus clientes. Es un consultorio que lleva en funcionamiento desde 2005 donde
            se han registrado más de 6000 pacientes hasta la fecha.</p>
          <a href="/leer" class="btn btn-outline-secondary btn-lg mt-2 header-btn">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="testimonial">
  <div class="container">
    <h3 class="mb-2">
      Ofrecemos el mejor servicio para nuestros clientes, así como una consulta que superará sus expectativas.
      ¡En ningún otro lugar puede obtener sus lentes a un costo razonable y pueden obtenerlos en unos días después de su
      consulta!
    </h3>
  </div>
</section>

<section id="info-one">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="imagendos">
          <img src="/img/len6.jpeg" alt="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6 my-auto">
        <div class="parrafodos">
          <h2 class="mb-4">Conoce nuestros estilos</h2>
          <p class="mb-3">Puedes consultar nuestros estilos y materiales para tu nuevo armazón, asi podrás tomar en
            cuanta el
            material y formas que deseas para tus lentes antes de tu cita.
          </p>
          <a href="/leerinformacion" class="btn btn-outline-secondary btn-lg header-btn-dos">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info-dos" style="background: #f1f1f1;">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="titulo">Nos importa tu opinión</h2>
        <p class="parrafos">Danos tu opinión sobre lo que piensas de nuestro servicio, si te gustó la forma en que se
          realizó el estudio para la adaptación de tus lentes, cualquier sugerencia o queja que nos pueda aportar por lo
          que tomaremos en cuenta cada mensaje para mejorar en todos los aspectos y así brindar un mejor servicio y
          comodidad al cliente.
        </p>
      </div>
      <div class="col-md-6">
        <h2 class="titulodos">Contactanos</h2>
        <p class="parrafosdos">Si tienes algo que contarnos sobre tu experiencia en Óptica Lagos puedes contactarnos
          con
          un mensaje mediante el siguiente formulario, solo ingrese su nombre, apellidos y mensaje para conocer su
          opinión sobre nosotros.
        </p>
      </div>
    </div>
  </div>
</section>

<footer id="contact" style="background: url(/img/3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col">
        <form action="card my-4" style="float: right;">
          <div class="card-body">
            <div class="form-group">
              <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Apellidos" class="form-control">
            </div>
            <div class="form-group">
              <textarea rows="10" cols="30" placeholder="Mensaje" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>

<script src="/js/scrollreveal/landingpage.js"></script>