<footer id="footer" class="d-flex align-items-center">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <a href="#">Preguntas Frecuentes</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Contactanos</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Terminos de uso</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Privacidad</a>
            </div>
        </div>
    </div>
</footer>