{{>navbar}}
<main class="showcases">
    <h1 class="texto">Óptica Lagos</h1>
    <p class="texto">Óptica Lagos S.A. de C.V. es un centro óptico que realiza consultas, exámenes de la
        vista y lentes adaptados a cada uno de sus clientes. Tiene aproximadamente entre 2 a 4 encargados de registrar y
        almacenar la información de los pacientes.</p>
</main>

<section class="container texts text-center mt-5">
    <h3>Nuestros estilos...</h3>
    Óptica Lagos te ofrece diversos estilos a tu armazon de mayor calidad daptados a tu gusto, con el material y
    graduacion exata para tu vista. A continuacion se muestran los estilos y materiales para tus lentes:
</section>

<div id="lente" class="container mt-5">
    <div class="row">
        <div id="card1" class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="shadow-lg card-glass">
                <img src="https://images.pexels.com/photos/2095953/pexels-photo-2095953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title">Armazón económica</h2>
                    <p class="card-text">Ofrece un precio accesible para el cliente pero la calidad es baja.</p>
                    <h1>$450</h1>
                </div>
            </div>
        </div>

        <div id="card2" class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="shadow-lg card-glass">
                <img src="https://images.pexels.com/photos/947885/pexels-photo-947885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title">Armazón de calidad</h2>
                    <p class="card-text">A un precio más alto y aumenta la calidad del lente.</p>
                    <h1>$800</h1>
                </div>
            </div>
        </div>

        <div id="card3" class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="shadow-lg card-glass">
                <img src="https://images.pexels.com/photos/39716/pexels-photo-39716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title">Armazon delgado</h2>
                    <p class="card-text">Si quieres los mejores lentes, escoge esta opción.</p>
                    <h1>$1200</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script src="/js/scrollreveal/landingpage.js"></script>