{{>navbar}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="height: 100%;">
            <main class="showcases">
                <h1 class="texto">Óptica Lagos</h1>
                <p class="texto">Óptica Lagos S.A. de C.V. es un centro óptico que realiza consultas, exámenes de la
                    vista y lentes adaptados a
                    cada uno de sus clientes. Tiene aproximadamente entre 2 a 4 encargados de registrar y almacenar la
                    información
                    de los pacientes. </p>
            </main>
        </div>
    </div>
</div>

<section class="texts">
    <h3>Nuestros estilos...</h3>
    Óptica Lagos te ofrece diversos estilos a tu armazon de mayor calidad daptados a tu gusto, con el
    material y
    graduacion
    exata para tu vista. A continuacion se muestran los estilos y materiales para tus lentes:
    <section id="lente" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Armazon delgado</h5>
                            <p class="card-text">Armazon hecho de metal inoxidable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="/js/scrollreveal/landingpage.js"></script>